body {
  height: 100%;
  width: 100%;
  font:Andale Mono, monospace;
  background-image: url('../images/nav.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Andale Mono, monospace;
}

.main-display {
  display: flex;
  flex-direction: row;
}

.navigation {
  display:flex;
  flex-direction: row;
  align-content: center;
  justify-content:space-between;
  height: 8em;
  background-color: grey;
  opacity: .7;
  color: white;
}

.welcome-traveler{
  padding-top: 2em;
  padding-left: 1em;
  font-size: 22px;
}

.app-name{
  padding-top: 1.2em;
  padding-left: 1em;
  font-size: 40px;
  color: rgb(255, 193, 22);
}

.traveler-yearly-spent {
  padding-top: 4em;
  padding-right: 1em;
  font-style: oblique;  
  font-size: 16px;
  color: rgb(255, 193, 22);
}

.trips-view {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  height: 55em;
  width: 20em;
  background-color: grey;
  opacity: .7;
  color: white;
}

.upcoming-wrapper {
  display: flex;
  align-items: center;
  color: rgb(255, 193, 22);
}

.upcoming-trips {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  background-color: lightgrey;
  border-radius: 10px;
  padding: 1em;
  height: 15em;
  width: 12em;
  color: black;
  overflow: scroll;
} 

.pending-wrapper {
  display: flex;
  align-items: center;
  color: rgb(255, 193, 22);
}

.pending-trips {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  background-color:lightgray;
  border-radius: 10px;
  padding: 1em;
  height: 15em;
  width: 12em;
  color: black;
  overflow: scroll;
} 

.past-wrapper {
  display: flex;
  align-items: center;
  color: rgb(255, 193, 22);
}

.past-trips {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  background-color:lightgray;
  border-radius: 10px;
  padding: 1em;
  height: 15em;
  width: 12em;
  color: black;
  overflow: scroll;
} 

.booking-view {
  display: flex;
  flex-direction: column;
  height: 22em;
  width: 30em;
  margin-left: 23%;
  margin-top: 10%;
  opacity: .8;
  background-color: lightgrey;
}

.trip-calendar-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}

.select-city{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trip-details-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.trip-form-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5em;
}

.check-rate-btn {
  margin-top: 1em;
  margin-left: 13em;
  width: 10em;
}

.reset-trip-info-btn {
  margin-top: .5em;
  margin-left: 13em;
  width: 10em;
}

.book-trip-btn {
  margin-top: .5em;
  margin-left: 13em;
  width: 10em;
}



.hidden {
  display: none
}



